prometheus:
  enabled: true
  prometheusSpec:
    remoteWrite:
      - url: {{ kubernetes_helm_prometheus_prom_remote_write }}
    retention: {{ kubernetes_helm_prometheus_stack_retention }}
    replicas: {{ kubernetes_helm_prometheus_prom_replicas }}
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: {{ kubernetes_helm_prometheus_stack_sc }}
          resources:
            requests:
              storage: {{ kubernetes_helm_prometheus_stack_storage_size }}
nodeExporter:
  enabled: false

grafana:
  enabled: true
  additionalDataSources:
  - name: VictoriaMetrics
    url: {{ kubernetes_helm_prometheus_grafana_datasource }}
    type: prometheus
    access: proxy
    isDefault: true
  deleteDatasources: 
  - name: Prometheus
    orgId: 1
  sidecar:
    datasources:
      enabled: true
      defaultDatasourceEnabled: false
  service:
    annotations:
      consul.hashicorp.com/service-name: graf
      consul.hashicorp.com/service-sync: "true"
      consul.hashicorp.com/service-tags: |
        traefik.enable=true,
        traefik.http.routers.router-graf.entrypoints=http\,https,
        traefik.http.routers.router-graf.rule=Host(`gx.xavki.fr`),
        traefik.http.routers.router-graf.service=graf,
        traefik.http.routers.router-graf.middlewares=secure_headers@file\,to_https@file,
        traefik.http.routers.router-graf.tls.certresolver=certs_gen