gitlab_rails['object_store']['enabled'] = true
gitlab_rails['backup_keep_time'] = 604800
gitlab_rails['backup_upload_connection'] = {
  'provider' => 'AWS',
  'region' => 'us-east-1',
  'aws_access_key_id' => '{{ gitlab_backup_s3_access_key }}',
  'aws_secret_access_key' => '{{ gitlab_backup_s3_secret_key }}',
  'endpoint'              => '{{ gitlab_backup_s3_url }}',
  'path_style' => true,
  'enable_signature_v4_streaming' => false,
  'use_iam_profile' => false
}
gitlab_rails['backup_upload_remote_directory'] = '{{ gitlab_backup_s3_bucket }}'
